.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.demo {
  min-width: 300px;
  max-height: 400px;
  width: 50%;
  height: 50%;
  background: hsl(120, 14%, 90%);
  text-align: center;
  overflow: auto;
  left: 25%;
  top: 15%;
  position: relative;
}
.demo2 {
  position: absolute; 
  width: 50%;
  height: 70%;
  left: 25%;
  top: 15%;
  
  background-color: #ff3;  
}

.upimgs {
  display: block; 
  float: left;
}


.upimgs a{color:#333; text-decoration:none;border:2px solid #FFF; float:left; cursor:hand;} 

.upimgs a span{display:none; color:#F00;} 

.upimgs a span h1{font-size:12px; background:#333; color:#FFF; font-weight:normal; text-align:center; width:120px; padding:4px; display:block;

filter:alpha(opacity=60); 

-moz-opacity:0.60; 

opacity:0.60; top:80px; height:30px;

}

.upimgs a:hover{color:#999; border:2px solid #333; } 

.upimgs a:hover span{display:inline; position:absolute;} 
