.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.demo {
  min-width: 300px;
  max-height: 400px;
  width: 50%;
  height: 50%;
  background: hsl(120, 14%, 90%);
  text-align: center;
  overflow: auto;
  left: 25%;
  top: 15%;
  position: relative;
}
.demo2 {
  position: absolute; 
  width: 50%;
  height: 70%;
  left: 25%;
  top: 15%;
  
  background-color: #ff3;  
}

.upimgs {
  display: block; 
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
