.price{
    color: sienna;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.goods-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}