.error_msg{
    color:red;
}

.content-table{
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    min-width: 400pm;
    text-align: left;
    background-color: #fff;
    margin: auto;
    
  
}

.board-table{
    
    border: 1px solid blue;
    border-collapse: collapse;
    margin:25px 0;
    font-size: 1.2em;
    min-width: 400pm;
    text-align: center;
    background-color: #fff;
    margin: auto;
}
